[Unit]
Description=Switches between the fallback and current OS partition
RequiresMountsFor=/home/root
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /home/root/switch.sh

[Install]
WantedBy=shutdown.target halt.target reboot.target
