[Unit]
Description=Switches between the fallback and current OS partition
RequiresMountsFor=/home/root

[Service]
Type=simple
ExecStart=/bin/bash /home/root/switch.sh

[Install]
WantedBy=multi-user.target
